body{
    background-color:#5795E0;
}
main{
    margin-top: 3%;
    text-align: center;
    background-color:#5795E0;
    opacity: .8;

    h1{
        font-family: 'Life Savers', cursive;
        color: #51E9ED;
    }
h2{
    font-family: 'Raleway', sans-serif;
    color: #264061;
}
h3{
    font-family: 'Life Savers', cursive; 
    color: #54C9F7;
}
h4{
    font-family: 'Raleway', sans-serif;
    color: #f2f2f2;
}
h5{
    font-family: 'Life Savers', cursive; 
}
a{
    text-decoration: none;
    color: #f2f2f2;

}
}

